
h1 {
    color: rgb(24, 133, 20);
    width: auto;
    margin: 6% auto;
    text-align: center;
} 

body {
    background: blue;
}

main {
    width: auto;
    margin: 5% auto;
    
}

article {
    margin: 2%;
    border: 3px solid rgb(7, 126, 116);
    background: crimson;
}