body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=719&q=80
    );
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh;
    width: 100vw; */
  }
  
  .logo {
    width: 30%;
    height: 80%;
    margin: 3% 10%;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
  
  main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: black(12, 156, 31);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid black(19, 2, 2);
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid black(4, 18, 22);
    background: none;
    padding: 20px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color:black(139, 39, 39);
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }
  
  button {
    grid-column: 2/3;
    margin: auto;
    width: auto;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
    border-radius: 25px;
    background: black;
    padding: 20px; 
    padding-bottom: 15px;
    text-align: center;
    color: white;
    letter-spacing: 15px;
    font-style: italic;
  }
  /* Mobile*/
  @media screen and (max-width: 320px) {
     button {
      font-size: auto;
      
    }
  }