html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 125%;
  line-height: 1.4;
  font-weight: 400;
  color: var(--blue-grey-900);
}
.container {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40% 60%;
  grid-template-areas: 
    "Greetings todo Date"
    "calc todo calendar"
    "mine mine mine";
    grid-gap: 5px;
  background-image: url(../Images/skyblue.jpg);
}

/* dashboard*/ 

header{
  grid-area: Greetings;
}
nav{
  grid-area: Date;
}
main{
  grid-area: todo;
}
aside{
  grid-area: calc;
}
footer{
  grid-area: calendar;
}
header{
  background: blue;
  border: solid black 3px;
}
main{
  background: grey;
  border: solid red 3px;
}
nav{
background: tan;
border: solid grey 3px;
}
aside{
border: solid blue 3px;
}

/*clock*/


/*calendar*/
footer {
  min-height: 90vh;
  background: var(--blue-grey-100);
}

footer {
  max-width: max-content;
  margin: 3em auto 0 auto;
  padding: 1.5em;
  border: 2px solid var(--blue-grey-200);
  border-radius: 8px;
}
.cal {
  background-color: #fff;
  opacity: 85%;
}

.month-indicator {
  color: var(--blue-grey-700);
  text-align: center;
  font-weight: 500;
}

.day-of-week, 
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
}


.day-of-week > * {
  font-size: 0.7em;
  color: var(--blue-grey-400);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

.date-grid {
  margin-top: 0.5em;
}

.date-grid button:first-child {
  grid-column: 1;
}

.date-grid button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: var(--blue-grey-600);
}

.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: var(--blue-grey-050);
  color: var(--blue-grey-700);
}

.date-grid button:active,
.date-grid button.is-selected {
  background-color: var(--teal-100);
  color: var(--teal-900);
}

button {
  height: 60px;
  background-color: rgb(196, 210, 240);
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
  background-color: #eaeaea;
}

.operator {
  color: #337cac;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}
/*calculator*/
title{ 
  margin-bottom: 10px; 
  text-align:center; 
  width: 210px; 
  color:green; 
  border: solid black 2px; 
  } 

  input[type="button"] 
  { 
  background-color:green; 
  color: black; 
  border: solid black 2px; 
  width:100% 
  } 

  input[type="text"] 
  { 
  background-color:white; 
  border: solid black 2px; 
  width:100% 
  } 

/*goldmine*/
.push {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffaa64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
.push:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab22;
}
.push:active {
  position: relative;
  top: 1px;
}

.mine {
  background-color: grey;
}

/*TodoList*/

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.top {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}


.top:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}


.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/*geolocation*/



/* Mobile*/
@media screen and (max-width: 320px) {
 
}

/* Tablet*/
@media (min-width: 576px) {
 
}
