header {
   
    
    margin-left: 70%;
    padding: auto;
    border-width: 3px;
    text-decoration: underline;

}
p {
border-bottom: solid red;
border-width: 6px;

}
p {
    font-size: 50px;
}
nav {
    margin-left: 10%;
    padding: auto;
    
}